@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    --background: #f8f9fa;
    --foreground: #111827;

    --primary: #6541F0;
    --primary-foreground: #F2F0FD;
    --secondary: #eef2ff;

    --muted: #6b7280;
    --hero-bg: #dbeafe;

    --purple-primary: #7D4AF4;
    --purple-accent: #6541F0;

    --bg: #F6F4FF;
    --card: #FFFFFF;

    --text-primary: #111827;
    --text-secondary: #6B7280;

    --border: #E9E5F8;

    --font-normal: Roboto;
    --font-bold: Archivo Black;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
